@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  /* Primary */
  --cyan: hsl(179, 62%, 43%);
  --bright_yellow: hsl(71, 73%, 54%);

  /* Neutral */
  --light_gray: hsl(204, 43%, 93%);
  --grayish_blue: hsl(218, 22%, 67%);

  /* Fonts */
  --ff-karla: 'Karla', sans-serif;
  --fz: 16px;
}

body {
  font-family: var(--ff-karla);
  font-size: var(--fz);
  background-color: var(--light_gray);
}

.container-main {
  padding: 4.5rem 2rem 4.75rem 2rem; 
}

.component {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.component__body {
  display: flex;
  flex-direction: column;
}

.componenet__title {
  font-size: 1.25rem;
  color: var(--cyan);
  margin-bottom: 1.875rem;
}

.componenet__subtitle {
  color: var(--bright_yellow);
  font-size: .9rem;
  margin-bottom: 1.5rem;
}

.component__text {
 color: var(--grayish_blue);
 font-size: 0.875rem;
 line-height: 1.7;
 margin-bottom: 2.25rem;
}

.component__description {
  padding: 1.5rem;
  padding-bottom: 0;
}

.subscription {
  color: white;
  font-size: 1rem;

}

.component__subscription {
  background-color: var(--cyan);
  color: var(--light_gray);
  padding: 24px;
}

.access-price {
  margin-bottom: 1.875rem;
}

.signup-link {
  text-decoration: none;
  margin: auto;
  display: inline-block;
  padding: 1em 0;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  background-color: var(--bright_yellow);
  color: var(--light_gray);
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
}

.price {
  color: white;
  margin-bottom: .6rem;
}

.price span {
  font-size: 28px;
  font-weight: 700;
}

.component__detail {
  background-color: #4abebd;
  padding: 24px;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.detail-title {
  margin-bottom: 13px;
}

.component__detail p {
  font-size: 0.8125rem;
  color: var(--light_gray);
  padding-right: 4.5em;
  line-height: 1.5;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 576px) {

  .container-main {
    padding: 0;
  }

  .component {
    width: 39.6875rem;
    margin: 10.1875rem auto;
  }

  .component__body {
    flex-direction: row;
  }

  .component__detail {
    width: 50%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 5px;
  }

  .component__subscription {
    width: 50%;
    border-bottom-left-radius: 5px;
  }
}